<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homepage</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h1>Snippet Storage Box</h1>
            <nav>
                <a href="/auth/login">login</a>
                <a href="/auth/signup">signup</a>
            </nav>
            <div class="snippets">
                <h1>Snippet List</h1>
                {{#user}}<p>"Not {{username}}?, then <form action="/auth/logout" method="POST"><button type="submit">logout</button></form> </p>
                {{/user}}
                <form action="/tag" method="POST">
                    <input type="text" name="tag" placehoder="search by tag">
                    <button type="submit">search by tag</button>
                </form>
                {{#Snippet}}
                <p>title: {{title}} language: {{language}}</p>
                <p> notes: {{notes}}</p>
                <p> tag: {{tag}} </p>
                <p>body:{{body}}</p>
                <form action="/viewSnippet/{{_id}}" method="GET">
                    <button type="submit">View this Snippet</button>
                </form>
                <form action="/delete/{{_id}}" method="POST">
                    <button type="submit">Delete</button>
                </form>
                {{/Snippet}} {{^Snippet}}
                <p>Click on the make a snippet button</p>
                {{/Snippet}}
            </div>
            <section class="openWindow">
                <button onclick="openCreateSnippet()">make a snippet</button>
            </section>
            <section class="createSnippet">
                <form action="/createSnippet" method="POST">
                    <input type="text" name="title" placeholder="title">
                    <select name="language">
                        <option value="Java">Java</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Node.js">Node.js</option>
                        <option value="html">html</option>
                        <option value="css">css</option>
                    </select>
                    <input type="text" name="tag" placeholder="tag">
                    <textarea rows="5" cols="50" name="body" placeholder="your snippet"></textarea>
                    <textarea rows="3" cols="50" name="notes" placeholder="notes"></textarea>
                    <button type="submit">create snippet</button>
                </form>
                <div class="language">
                    <a href="/Java">Java</a>
                    <a href="/JavaScript">JavaScript</a>
                    <a href="/Node.js">Node.js</a>
                    <a href="/html">html</a>
                    <a href="/css">css</a>
                </div>
            </section>
        </div>
    </div>
</body>

</html>