<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homepage</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h1>Snippet Storage Box</h1>
            <nav>
                <a href="/auth/login">login</a>
                <a href="/auth/signup">signup</a>
            </nav>
            <div class="snippets">
                <h1>Snippet List</h1>
                {{#snippet}}
                <p>title: {{title}} language: {{language}}</p>
                <p> notes: {{notes}}</p>
                <p>body:{{body}}</p>
                {{/snippet}} {{^snippet}}
                <p>Click on the make a snippet button</p>
                {{/snippet}}
            </div>
            <div class="createSnippet">
                <form action="/createSnippet" method="POST">
                    <button type="submit">Make a snippet</button>
                </form>
            </div>
            <div class="viewSnippet">
                <form action="/viewSnippet" method="POST">
                    <button type="submit">View this Snippet</button>
                </form>
                <form action="/delete/{{_id}}" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>