<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="snippets">
                <h1>Snippet List</h1>
                {{#snippet}}
                <a href="/edit/{{_id}}">edit</a>
                <p>title: {{title}} language: {{language}}</p>
                <p> notes: {{notes}}</p>
                <p>body: {{body}</p>
                {{/snippet}} {{^snippet}}
                <p>Click the make a snippet button</p>
                {{/snippet}}
            </div>
            <div class="createASnippet">
            </div>
            <div class="viewASnippet">
            </div>
        </div>
    </div>
</body>

</html>