<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>homepage</title>
</head>

<body>
        <div class="container">
        <header>
            <h1>Snippet Storage Box</h1>
            <nav>
                <a href="/auth/login">login</a>
                <a href="/auth/signup">signup</a>
                <a href="/">Home</a>
            </nav>
            </header>
            <div class="snippets">
                <h1>Snippet List</h1>
                {{#Snippet}}
                <p>title: {{title}} language: {{language}}</p>
                <p> notes: {{notes}}</p>
                <p>body:{{body}}</p>
                <form action="/delete/{{_id}}" method="POST">
                    <button type="submit">Delete</button>
                </form>
                {{/Snippet}}
            </div>
        </div>
</body>

</html>