body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    top: 0px;
    background-color: white;
    border-bottom: .25rem solid #ffb732;
}

.header {
    height: 4.35rem;
}

.homeLink {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

p {
    font-size: 1.3rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    width: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown a {
    text-decoration: none;
    color: black;
    outline: none;
}

.action {
    text-decoration: underline;
}

.theSnippets {
    border: .25rem solid #ffb732;
    border-radius: .75rem;
    margin: 1rem;
    height: 50%;
    padding: 1rem;
}

.theSnippets form {
    margin: .5rem;
}

button {
    text-decoration: none;
    outline: none;
    font-size: .7rem;
    border: .12rem solid #ffb732;
    border-radius: .75rem;
}

.scroll {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.createSnippet {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.createSnippet form {
    display: flex;
    flex-direction: column;
    border: .25rem solid #ffb732;
    padding: 1rem;
    border-radius: .75rem;
}

.createSnippet input {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

newSnippetBox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

textarea {
    margin-top: .25rem;
    margin-bottom: .25rem;
}